.crew {
    background-image: url('../assets/crew/background-crew-desktop.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.crew #main {
    padding: 0 var(--space-64);
}

/* CREW */
.crew__hero {
    max-width: 69.375rem;
    color: var(--blue-300);
    margin: 0 auto;
    font-weight: var(--weight-regular);
}

.crew__intro {
    display: flex;
    align-items: center;
    gap: var(--space-16);
    font-size: var(--text-28);
    font-family: var(--barlow-condensed-regular);
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: var(--space-2);
    margin: var(--space-24) 0;
}

.crew__step {
    font-family: var(--barlow-condensed);
    font-weight: 700;
    opacity: 0.25;
}

.crew__container {
    height: 540px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.crew__container.fade-out {
    opacity: 0;
}

.crew__details {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
    font-family: var(--bellefair-regular);
    color: var(--white);
    padding-top: var(--space-128);
}

.crew__role {
    font-size: var(--text-28);
    text-transform: uppercase;
    color: var(--white);
    opacity: 0.5;
}

.crew__name {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: var(--weight-regular);
    padding: var(--space-8) 0 var(--space-24);
}

.crew__summary {
    color: var(--blue-300);
    letter-spacing: 0.5px;
    font-family: var(--barlow-condensed-regular);
}

.dots__container {
    display: flex;
    align-items: center;
    gap: var(--space-40);
    padding: var(--space-40) 0;
    margin-top: auto;
}

.dot {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: var(--white);
    opacity: 0.25;
    cursor: pointer;
}

.dot.active {
    opacity: 1;
}

.crew__image--box {
    display: flex;
    justify-content: center;
}

.crew__image {
    max-width: 70%;
}

/* 1100px-68.75em */
@media screen and (max-width: 68.75em) {
    .crew {
        background-image: url('../../src/assets/crew/background-crew-tablet.avif');
    }

    .crew #main {
        padding: 0;
    }

    .crew__intro {
        padding-left: var(--space-24);
    }

    .crew__container {
        height: 100%;
        grid-template-columns: 1fr;
        text-align: center;
        padding: var(--space-40) 0;
    }

    .crew__details {
        max-width: 31rem;
        align-items: center;
        padding: 0;
        margin: 0 auto;
    }

    .crew__role {
        font-size: 1.5rem;
    }

    .crew__name {
        font-size: 2.5rem;
    }

    .crew__image--box div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .crew__image {
        max-width: 100%;
    }
}

/* // 600px-37.5em // */ /* // Mobile */
@media screen and (max-width: 37.5em) {
    .crew {
        background-image: url('../assets/crew/background-crew-mobile.avif');
    }

    .crew__hero {
        padding: 0 var(--space-24);
    }

    .crew__container {
        font-size: var(--text-14);
        padding: var(--space-48) 0 0;
    }

    .crew__intro {
        font-size: var(--text-16);
        justify-content: center;
        padding-top: var(--space-16);
        padding-left: 0;
    }

    .crew__role {
        font-size: var(--text-18);
    }

    .crew__name {
        font-size: var(--text-28);
    }
}
