.destination {
    background-image: url('../assets/destination/background-destination-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* DESTINATION */
.destination__hero {
    max-width: 69.375rem;
    color: var(--blue-300);
    margin: 0 auto;
    font-weight: var(--weight-regular);
}

.destination__intro {
    display: flex;
    align-items: center;
    gap: var(--space-16);
    font-size: var(--text-28);
    font-family: var(--barlow-condensed-regular);
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: var(--space-2);
    margin: var(--space-24) 0;
}

.destination__step {
    font-family: var(--barlow-condensed);
    font-weight: 700;
    opacity: 0.25;
}

.destination__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: var(--space-80) var(--space-40) 0;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.destination__container.fade-out {
    opacity: 0;
}

.destination__image--box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.destination__details {
    max-width: 27rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 var(--space-40);
}

.destination__list {
    font-family: var(--barlow-condensed-regular);
    font-size: var(--text-16);
    height: 2rem;
    display: flex;
    align-items: center;
    gap: var(--space-16);
}

.destination__item {
    height: 100%;
    text-transform: uppercase;
    letter-spacing: var(--space-2);
    padding-bottom: var(--space-16);
    border-bottom: 2px solid transparent;
}

.destination__item:hover {
    color: var(--white);
    opacity: 0.7;
    border-bottom: 2px solid var(--white);
}

.destination__item.active {
    color: var(--white);
    opacity: 1;
    border-bottom: 2px solid var(--white);
}

.destination__title {
    font-family: var(--bellefair-regular);
    font-size: var(--text-80);
    text-transform: uppercase;
    color: var(--white);
    font-weight: var(--weight-regular);
}

.summary__line {
    width: 100%;
    height: 1px;
    border: 1px solid var(--white);
    opacity: 0.25;
}

.destination__statistics {
    font-size: var(--text-14);
    display: flex;
    align-items: center;
    gap: var(--space-64);
}

.destination__distance,
.destination__time {
    font-family: var(--barlow-condensed-regular);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    letter-spacing: var(--space-2);
}

.destination__distance span,
.destination__time span {
    font-size: var(--text-28);
    font-family: var(--bellefair-regular);
    color: var(--white);
}

/* 1100px-68.75em */
@media screen and (max-width: 68.75em) {
    .destination {
        background-image: url('../assets/destination/background-destination-tablet.jpg');
    }

    .destination__intro {
        margin: var(--space-40) 0;
        padding-left: var(--space-24);
    }

    .destination__container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .destination__details {
        max-width: 35rem;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        gap: var(--space-24);
        padding: var(--space-64) 0;
    }
}

/* // 600px-37.5em // */ /* // Mobile */
@media screen and (max-width: 37.5em) {
    .destination {
        background-image: url('../assets/destination/background-destination-mobile.jpg');
    }

    .destination__hero {
        padding: 0 var(--space-24);
    }

    .destination__container {
        font-size: var(--text-14);
        padding: var(--space-48) 0 0;
    }

    .destination__intro {
        font-size: var(--text-16);
        justify-content: center;
        padding-left: 0;
    }

    .destination__title {
        font-size: var(--text-56);
    }

    .destination__statistics {
        flex-direction: column;
        justify-content: center;
        gap: var(--space-24);
    }
}
