.container {
    max-width: 90rem;
    height: 100svh;
    margin: 0 auto;
}

#main {
    padding: 0 8rem;
}

/* HERO */
.hero {
    max-width: 69.735rem;
    font-family: var(--bellefair-regular);
    color: var(--blue-300);
    margin: 0 auto;
    padding-top: var(--space-128);
}

.hero__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: var(--space-16) 0;
}

.hero__box {
    max-width: 33.75rem;
}

.hero__tag {
    font-size: var(--text-28);
    font-family: var(--barlow-condensed-regular);
    text-transform: uppercase;
    letter-spacing: var(--space-2);
    padding-top: var(--space-128);
}

.hero__title {
    font-size: var(--text-144);
    color: var(--white);
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: var(--space-24);
}

.hero__summary {
    font-family: var(--barlow-regular);
}

.hero__button--box {
    max-width: 33.75rem;
    margin-left: auto;
}

.cta-btn {
    background: none;
    border: none;
    background-color: var(--white);
    font-size: var(--text-28);
    text-transform: uppercase;
    color: var(--blue-900);
    letter-spacing: var(--space-2);
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    cursor: pointer;
}

/* 1200px-75em */
@media screen and (max-width: 75em) {
    #main {
        padding: 0 var(--space-64);
    }
}

/* 900px-56.25em */
@media screen and (max-width: 56.25em) {
    #main {
        padding: 0 var(--space-24);
    }

    .container {
        margin: 0;
    }

    .hero {
        text-align: center;
        padding: 0;
    }

    .hero__container {
        grid-template-columns: 1fr;
        gap: var(--space-80);
    }

    .hero__box,
    .hero__button--box {
        padding: 0 2rem;
        margin: 0 auto;
    }
}
