@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --white: rgb(255, 255, 255);
    --blue-300: rgb(208, 214, 249);
    --blue-300-light: rgba(208, 214, 249, 0.3);
    --blue-900: rgb(11, 13, 23);
    --blue-900-light: rgb(25, 27, 39);

    /* TYPOGRAPHY */
    --bellefair-regular: 'Bellefair', serif;
    --barlow-regular: 'Barlow', sans-serif;
    --barlow-condensed-regular: 'Barlow Condensed', sans-serif;

    --weight-regular: 400;
    --text-14: 0.875rem;
    --text-16: 1rem;
    --text-18: 1.125rem;
    --text-28: 1.75rem;
    --text-32: 2rem;
    --text-56: 3.5rem;
    --text-80: 5rem;
    --text-100: 6.25rem;
    --text-144: 9rem;

    /* SPACING */
    --space-128: 8rem;
    --space-96: 6rem;
    --space-80: 5rem;
    --space-64: 4rem;
    --space-48: 3rem;
    --space-40: 2.5rem;
    --space-24: 1.5rem;
    --space-16: 1rem;
    --space-12: 0.75rem;
    --space-8: 0.5rem;
    --space-4: 0.25rem;
    --space-2: 0.125rem;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
    list-style: none;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* Set core body defaults */
body {
    font-family: var(--barlow-condensed-regular);
    font-weight: var(--weight-regular);
    font-size: var(--text-18);
    color: var(--white);
    min-height: 100svh;
    line-height: 1.5;
    background-image: url('../assets/home/background-home-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.menu__icon {
    width: 24px;
    height: 21px;
    fill: var(--blue-300);
}

.menu__icon--close {
    width: 20px;
    height: 21px;
    fill: var(--blue-300);
}

/* 1100px-68.75em */
@media screen and (max-width: 68.75em) {
    body {
        background-image: url('../assets/home/background-home-tablet.jpg');
    }
}

/* 600px-37.5em */
@media screen and (max-width: 37.5em) {
    body {
        background-image: url('../assets/home/background-home-mobile.jpg');
    }
}
