.technology {
    background-image: url('../assets/technology/background-technology-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#main {
    padding: 0;
    padding-left: 9rem;
}

/* TECHNOLOGY */
.technology__hero {
    max-width: 79.688rem;
    margin-left: auto;
    color: var(--blue-300);
    font-weight: var(--weight-regular);
}

.technology__intro {
    display: flex;
    align-items: center;
    gap: var(--space-16);
    font-size: var(--text-28);
    font-family: var(--barlow-condensed-regular);
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: var(--space-2);
    margin: var(--space-24) 0;
}

.technology__step {
    font-family: var(--barlow-condensed);
    font-weight: 700;
    opacity: 0.25;
}

.technology__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: var(--space-24);
    padding: var(--space-40) 0;
}

.technology__details {
    max-width: 32rem;
    display: flex;
    gap: var(--space-48);
    font-family: var(--bellefair-regular);
    color: var(--white);
}

.technology__slides {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.technology__slide {
    width: 50px;
    height: 50px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--blue-300);
    border-radius: 50%;
}

.technology__slide--active {
    color: var(--blue-900);
    background-color: var(--white);
}

.technology__role {
    font-size: var(--text-28);
    text-transform: uppercase;
    color: var(--white);
    opacity: 0.5;
}

.technology__name {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: var(--weight-regular);
    padding: var(--space-8) 0 var(--space-24);
}

.technology__summary {
    color: var(--blue-300);
    letter-spacing: 0.5px;
    font-family: var(--barlow-condensed-regular);
}

.technology__image--box {
    margin-left: auto;
}

/* 1180px-73.75em */
@media screen and (max-width: 73.75em) {
    #main {
        padding-left: var(--space-64);
    }
}

/* 1100px-68.75em */
@media screen and (max-width: 68.75em) {
    .technology {
        background-image: url('../../src/assets/technology/background-technology-tablet.jpg');
    }

    #main {
        padding: 0;
    }

    .technology__hero {
        max-width: 100%;
        margin: 0;
    }

    .technology__intro {
        padding-left: var(--space-24);
    }

    .technology__container {
        grid-template-columns: 1fr;
    }

    .technology__details {
        max-width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .technology__summary {
        max-width: 30rem;
        margin: 0 auto;
    }

    .technology__slides {
        flex-direction: row;
        justify-content: center;
        gap: var(--space-24);
    }

    .technology__role {
        font-size: 1.5rem;
    }

    .technology__name {
        font-size: 2.5rem;
    }

    .technology__image--box {
        grid-row: 1;
        margin: 0;
    }

    .technology__image {
        width: 100%;
    }
}

/* 600px-37.5em */
@media screen and (max-width: 37.5em) {
    .technology {
        background-image: url('../../src/assets/technology/background-technology-mobile.jpg');
    }

    .technology__intro {
        font-size: var(--text-18);
        justify-content: center;
        padding-top: var(--space-16);
        padding-left: 0;
    }

    .technology__details {
        padding: 0 var(--space-24);
    }

    .technology__role {
        font-size: var(--text-16);
    }

    .technology__name {
        font-size: var(--text-28);
    }
}
